.App {
  text-align: center;
}

.App-header {
  text-decoration: none;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

footer {
  background-color: black;
  color: #fff;
}

footer ul {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

footer li {
  display: inline-block;
}

footer a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: block;
}

footer a:hover {
  background-color: #434242;
}
.img{
  border-radius:50%;
  width: 300px;
  height: 300px;
}

.profileimg {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;

  
}

.profileimg img {
  width: 100%;
  
}


.imgholder{
  display: flex;
  align-items: center;
}
li {
  list-style: none;
}